@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;700&family=Roboto:wght@500;700&display=swap');

@font-face {
  font-family: 'Avenir';
  src: local('Avenir Heavy'),
    local('Avenir-Heavy'),
    url('./fonts/Avenir-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Avenir', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #000;
  font-family: 'Noto Sans', sans-serif;
  color: #fff; 
  font-size: 18px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color:#fff;
}

a:hover {
  opacity: 0.75;
}

a:active {
  opacity: 0.9;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 108px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__login {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login__text {
  border-bottom: 1px solid #fff;
}