.coockies {
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  background-color: #212834;
  z-index: 100;
}

.coockies__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 93px;
  padding: 0 15px;
}

.coockies__text {
  padding-right: 5px;
}

.coockies__button {
  padding: 20px 55px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--main-color);
  font-size: 14px;
  border: 0.5px solid var(--main-color);
  border-radius: 6px;
}

.coockies__button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.coockies__button:active {
  opacity: 0.9;
}

.coockies--fade {
  display: none;
}

@media (max-width: 522px) {
  .coockies__text {
    max-width: 200px;
    font-size: 12px;
  }

  .coockies__button {
    padding: 17px 35px;
  }
}