.integration__container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 220px;
}

.integration__description {
  position: relative;
  margin-top: -12%;
}

.integration__description::after {
  content: '';
  width: 426px;
  height: 438px;
  position: absolute;
  top: -100%;
  left: -40%;
  background: var(--pinky-bg);
  opacity: calc(var(--pinky-opacity) - 0.2);
  filter: var(--pinky-filter);
  transform: var(--pinky-transform);
}

.integration__text {
  max-width: 395px;
}

.integration__image {
  max-width: 700px;
}

@media (max-width: 900px) {
  .integration__image {
    max-width: 470px;
  }
}

@media (max-width: 768px) {
  .integration__container {
    flex-direction: column;
    margin-bottom: 20px;
    gap: 30px;
  }
  
  .integration__description {
    margin-top: 0;
  }
  
  .integration__description::after {
    content: none;
  }

  .integration__image {
    min-width: 489px;
    margin-left: 10px;
  }
}