.integration__container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 220px;
}

.integration__description {
  position: relative;
  margin-top: -12%;
}

.integration__description::after {
  content: '';
  width: 426px;
  height: 438px;
  position: absolute;
  top: -100%;
  left: -40%;
  background: var(--pinky-bg);
  opacity: calc(var(--pinky-opacity) - 0.2);
  filter: var(--pinky-filter);
  transform: var(--pinky-transform);
}

.integration__text {
  max-width: 395px;
}

.integration__image {
  width: 700px;
}