@font-face {
  font-family: 'Avenir';
  src: local('Avenir Heavy'),
    local('Avenir-Heavy'),
    url('./fonts/Avenir-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Avenir', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #000;
  font-family: 'Noto Sans', sans-serif;
  color: #fff; 
  font-size: 18px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 51px;
}

a {
  color:#fff;
}

a:hover {
  opacity: 0.75;
}

a:active {
  opacity: 0.9;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 5px;
}

.fade {
  display: none;
}