:root {
  --main-color: #fff;
  --mainbg-color: #000;
  /* for pinky pseudo elements */
  --pinky-bg: linear-gradient(12deg, #F101BF 3%, #0066FF 97%);
  --pinky-opacity: 0.3;
  --pinky-filter: blur(125px);
  --pinky-transform: rotate(6deg);
  /* for pinky pseudo elements */
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir Heavy'),
    local('Avenir-Heavy'),
    url('../fonts/Avenir-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Avenir', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--mainbg-color);
  font-family: 'Noto Sans', sans-serif;
  color: var(--main-color); 
  font-size: 18px;
  font-weight: 400;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 51px;
}

a {
  color: var(--main-color);
}

a:hover {
  opacity: 0.75;
}

a:active {
  opacity: 0.9;
}

.wrapper {
  overflow-x: hidden;
  max-width: 1540px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}

.description__title {
  margin-bottom: 23px;
}

.download {
  display: flex;
}

.download__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.download__links {
  display: flex;
  align-items: center;
}

.fade {
  display: none;
}

@media (max-width: 900px) {
 .description__title {
   font-size: 40px;
 }
}

@media (max-width: 522px) {

  body {
    font-size: 16px;
  }

  .container {
    padding: 0 15px;
  }

  .description__title {
    font-size: 24px;
  }

}