.mission__container {
  margin-top: 15%;
}

.mission__partners {
  display: flex;
  margin-bottom: 245px;
  justify-content: center;
  align-items: center;
  gap: 81px;
}

.partners__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 503px;
  height: 312px;
  padding-left: 55px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21px;
}

.partners__text {
  max-width: 350px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
}

.partners__link span {
  position: relative;
  font-size: 24px;
}

.partners__link span::after { 
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 1px;
  width: 100%;
  z-index: -1;
  background: var(--main-color);
}

.mission__vision {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 168px;
}

.vision__image {
  max-width: 498px;
  transform-origin: top right;
  transform: rotate(90deg);
  translate: 0 51%;
  filter: drop-shadow(0 0 60px rgba(255, 255, 255, 0.2));
}

.vision__description {
  max-width: 325px;
}

.vision__title {
  position: relative;
}

.vision__title::after {
  content: '';
  position: absolute;
  right: 50px;
  top: 0;
  width: 85px;
  height: 85px;
  z-index: -1;
  background: #F101BF;
  opacity: 0.7;
  filter: blur(50px);
}

.vision__image--spin {
  animation: spin 6s linear;
}

@keyframes spin {
  25% {
    max-width: 300px;
    transform: rotate(0);
    translate: 80% -20%;
  }

  75% {
    max-width: 300px;
    transform: rotate(0);
    translate: 80% -20%;
  }
}

.vision__description--fade {
  animation: fade 5s linear;
}

@keyframes fade {
50% {
    opacity: 0;
    transform: translate(170%);
  }
}

@media (max-width: 1060px) {
  .vision__image {
    max-width: 400px;
  }
}

@media (max-width: 950px) {
  .mission__partners {
    margin-bottom: 200px;
  }

  .partners__container {
    width: 370px;
    height: 235px;
    padding-left: 25px;
  }

  .mission__vision {
    gap: 115px;
  }
}

@media (max-width: 900px) {
  .mission__vision {
    gap: 80px;
  }

  .vision__image {
    max-width: 370px;
  }

}

@media (max-width: 768px) {
  .mission__partners {
    flex-direction: column;
    margin-bottom: 110px;
  }

  .mission__vision {
    flex-direction: column-reverse;
    align-items: center;
  }

  .vision__image {
    max-width: 320px;
    transform: none;
    translate: none;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.2));
  }

  .vision__title::after {
    left: 0;
    top: -20px;
  }
}

@media (max-width: 522px) {
  .mission__container {
    margin-top: 70px;
  }

  .mission__partners {
    gap: 30px;
  }

  .partners__container {
    width: 100%;
    max-width: 345px;
    padding-left: 48px;
  }

  .partners__container:last-child {
    height: 167px;
  }

  .partners__text {
    max-width: 300px;
    font-size: 24px;
  }

  .partners__link span {
    font-size: 18px;
  }

  .mission__vision {
    gap: 163px;
  }

  .vision__image {
    max-width: 172px;
  }

  .vision__description {
    align-self: flex-start;
  }
}