.qrcode__container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1520px;
}

.qrcode__gradient {
  position: relative;
  background: linear-gradient(180deg, var(--mainbg-color) -3%, rgba(0, 0, 0, 0) 57%, var(--mainbg-color) 100%);
}

.qrcode__description {
  max-width: 315px;
  margin-left: clamp(5px, 11vw, 181px);
  /* 181px */
  margin-bottom: 58px;
}

.qrcode__links {
  display: flex;
  margin-left: clamp(5px, 11vw, 181px);
  gap: 27px;
}

.image__container {
  position: relative;
  display: flex;
  justify-content: end;
}

.image__container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 15%;
  width: 138px;
  height: 75px;
  background: url('../images/qr-code/Nightlife.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.qrcode__image {
  position: relative;
  z-index: -1;
}

.qrcode__phones {
  position: relative;
  margin-bottom: 42px;
}

.phones * {
  max-width: 333px;
}

.phones__phone-1 {
  position: absolute;
  top: -65%;
  left: -22%;
}

.phones__phone-2 {
  margin-left: 40%;
  margin-top: -10%
}

@media (max-width: 1200px) {
  .phones * {
    max-width: 20vw;
  }
}