.verification {
  margin-top: -250px;
  margin-bottom: 200px;
  background: linear-gradient(180deg, var(--mainbg-color) -3%, rgba(0, 0, 0, 0) 57%, var(--mainbg-color) 84%);
}

.verification__background {
  position: relative;
  z-index: -1;
}

.verification__container {
  display: flex;
  /* align-items: flex-start; */
  gap: 125px;
}

.verification__images {
  display: flex;
  gap: 50px;
  margin-top: -34%;
}

.verification__images * {
  max-width: 333px;
}

.verification__description {
  max-width: 325px;
  margin-top: -10px;
}